<div id="Quem-somos?">
  <h1>Empresa</h1>

  <p>

    Nossa equipe fala e entende a linguagem do jovem, compreende suas inquietações e prevê seus anseios. Todo esse conhecimento é fruto de quase 30 anos de contato com esse público, além do acesso constante a pesquisas e estudos focados no meio estudantil. Conhecimento é palavra de ordem na STAG e todas as nossas ações são baseadas num planejamento cauteloso.

    Buscamos entender o ambiente de nossos clientes e suas reais necessidades. Nosso objetivo é fazer de cada organização uma experiência propícia para que o estudante desenvolva, de fato, suas habilidades e aplique o que aprende em sala de aula. Aos clientes queremos encaminhar jovens engajados e que anseiam concretizar os primeiros passos de suas carreiras. Temos como direcionamento ser o elo do mercado com os aprendizes que assumirão num futuro próximo as posições de liderança.

    Nossas soluções não se resumem apenas aos programas de estágio e trainee. Queremos desenvolver o jovem em todas as suas esferas profissionais. A crescente angústia pela decisão de carreira da Geração Y, estimulou a STAG a formatar programas para direcionamento de estudantes que ainda não se decidiram em que mercado aplicar suas habilidades.

    Focados no desenvolvimento de jovens e das empresas, somos uma consultoria moderna e que investe no futuro do mercado. Nossa confiança no público acadêmico nesses quase 30 anos pode ser observada em cases de sucesso que marcaram profundamente o histórico das organizações.

  </p>

  <h2>Missão</h2>

  <p>
    Oferecer soluções em recursos humanos, transformando e acompanhando pessoas e organizações para gerar vantagem competitiva a nossos clientes.
  </p>

  <h2>Nossos Valores</h2>

  <ul>
      <li>INTEGRIDADE: retidão nos processos, entregas e relações estabelecidas com clientes, colaboradores, fornecedores, parceiros, governo e sociedade;</li>
      <li> FLEXIBILIDADE PARA INOVAÇÃO: aptidão para renovar, inventar e criar entregas de natureza diversa, dada nossa compreensão de que cada organização possui uma cultura única;</li>
      <li>  COMPROMETIMENTO COM RESULTADO: envolvimento e responsabilidade com os objetivos do cliente e d/li>
  </ul>
</div>

